---

---
<nav>
    <a href="/#">Hjem</a> 
    <a href="/#">Søg</a>
     <a href="/#">Dit biblotek</a> 
     <a href="/#">Opret playliste</a>
     <a href="/#">Sange, du synes godt om</a>
</nav>

<style>
nav {
    display:flex;
    flex-direction: column;
    background-color:black;

}

nav a {
text-decoration: none;
color: whitesmoke;
}
</style>