---

---

<nav>
    <a href="/#">.</a> <a href="/#">.</a>
     <a href="/#">Tilmeld dig</a> <a href="/#">Log på</a>
</nav>

<style>
nav{
    display: flex;
    background-color: black;
    padding: 1rem;
    }

    a{
    color:gray;
    font-size: 1rem;
    font-weight: 900;
    margin-block: 1rem;
    text-decoration: none;
    padding: 0.7rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    border-radius: 3rem;
  
    }

    a:last-child{
    color:black;
    background-color: white;
    }

    nav a:nth-child(3){
        margin-left:auto;
    }
    </style>